#chat {
  height: calc(100vh - 140px);
  max-height: calc(100vh - 140px);
  overflow: auto;
	
	md-card {

    md-card-content {

      .message {
        padding: 30px;
        width: 80%;
        border-radius: 5px;
        margin-bottom: 20px;

        h3, h4, p {
          margin: 0;
          padding: 0;
        }
      }
      .right {
        float: right;
        background-color: #f44336;
        color: white;
        text-align: right;

        .md-list-item-text {
          // padding: 30px;
        }
      }

      .left {
        float: left;
        background-color: #eeeeee;

       .md-list-item-text {
          // padding: 30px;
        }
      }
    }
	}

  md-list-item:not(:last-child) {
    margin-bottom: 15px;
  }

  md-input-container {
    padding:0;
    padding-bottom: 5px;

    .md-input-focused {

      label {
        color: $green;
      }

      input {
        height: 40px;
        line-height: 40px;
        border-bottom: 3px solid $green;
      }
    }
  }

  .md-button.medecin-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 25px;
    margin-top: 18px;
  }

  i {
    padding-top: 20px;
    text-align: center;
    height: 100%;
    line-height: 100%;
    color: $green;
    font-size: 28px;
  }

  md-card-footer {
    width: 90%;
    position: absolute;
    background-color: white;
    bottom: 50px;
  }

  md-card md-card-footer {
    padding: 0;
  }

}