.chat-card {
    height: calc(100vh - 140px);
  max-height: calc(100vh - 140px);
}

section md-toolbar h1, .md-button.md-raised:not([disabled]) {
  background-color: #19B1D1;
}

.md-button.md-raised:not([disabled]) {
  float: right;
}

.md-button.md-primary.md-raised:not([disabled]):hover {
    background-color: #19B1D1;
    opacity: 0.9;
}

#chat {
  height: calc(100vh - 140px);
  max-height: calc(100vh - 140px);
  overflow: auto;

  .channel {
    background-color: #eeeeee;
    cursor: pointer;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.22);
  }
	
	md-card {
    width: 100%;

    md-card-content {

      .message {
        padding: 30px;
        width: 80%;
        border-radius: 5px;
        margin-bottom: 20px;

        h3, h4, p {
          margin: 0;
          padding: 0;
        }
      }
      .right {
        float: right;
        background-color: #f44336;
        color: white;
        text-align: right;

        .md-list-item-text {
          // padding: 30px;
        }
      }

      .left {
        float: left;
        background-color: #eeeeee;

       .md-list-item-text {
          // padding: 30px;
        }
      }
    }
	}

  md-list-item:not(:last-child) {
    margin-bottom: 15px;
  }

  md-input-container {
    padding:0;
    padding-bottom: 5px;

    .md-input-focused {

      label {
        color: $green;
      }

      input {
        height: 40px;
        line-height: 40px;
        border-bottom: 3px solid $green;
      }
    }
  }

  .md-button.medecin-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  i {
    padding-top: 15px;
    text-align: center;
    height: 100%;
    line-height: 100%;
    color: $green;
    font-size: 28px;
  }

  md-card-footer {
    width: 90%;
    position: absolute;
    background-color: white;
    bottom: 50px;
  }

  md-card md-card-footer {
    padding: 0;
  }

  .md-sidenav-right, .md-sidenav-right md-content {
    background-color: #555555;
  } 

}

md-dialog.full-dialog {
  max-height: 100%;
  max-width: 100%;
  width: 95%;
  height: 95%;
}
md-dialog.fullscreen-dialog {
    max-height: 100%;
    height: 100%;
    max-width: 100%;
    width: 100%;
}

.set-icon-fab {
    font-size: 1rem;
}
