<div id="chat" class="main-wrapper" ng-swipe-left="goToBio()">
 	<section layout="row" flex>

		<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
      		<md-toolbar class="md-theme-light">
        		<h1 class="md-toolbar-tools">Channels</h1>
      		</md-toolbar>
      		<md-content layout-padding>
      			<div layout="column">
      				<div class="channel" flex="90">
      					Dr Martin
      				</div>
       				<div class="channel" flex="90">
       					Infirmière Flora M
      				</div>
      			</div>
	        	<form>
		    		<md-button class=" md-primary md-raised" ng-click="showTabDialog($event)">
		      			Chercher un médecin
		    		</md-button>
	        	</form>
      		</md-content>
    	</md-sidenav>

        <md-button ng-click="toggleRight()"
            ng-hide="isOpenRight()"
            class="medecin-button md-primary">
            	<i class="material-icons">menu</i>
        </md-button>

		<md-card class="chat-card">

			<md-card-header>
				<h1>Salon de discussion</h1>
			</md-card-header>

			<md-card-content>

				<md-card ng-if="!$storage.newDoc" ng-repeat="message in messages" class="message"
					ng-class="message.me ? 'left' : 'right'"
					layout="column" layout-align="center center">
					<div flex="70" class="md-list-item-text" layout="column">
						<h3><strong>{{ message.name }}</strong> <em>{{ message.job }}</em></h3>
						<h4>{{ message.date }}</h4>
						<p ng-bind-html="message.content"></p>
					</div>
				</md-card>

				<md-card ng-if="$storage.newDoc" ng-repeat="message in newDocMessage" class="message"
					ng-class="message.me ? 'left' : 'right'"
					layout="column" layout-align="center center">
					<div flex="70" class="md-list-item-text" layout="column">
						<h3><strong>{{ message.name }}</strong> <em>{{ message.job }}</em></h3>
						<h4>{{ message.date }}</h4>
						<p ng-click="showPdf($event, message.content)" ng-if="message.name == 'Michel Lantier'">Voir le pdf</p>
						<p ng-if="message.name == 'Frederic House'">{{message.content}}</p>
					</div>
				</md-card>

			</md-card-content>

			<md-card-footer>
				<div layout="row">
					<div flex="90">
						<form name="userForm">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Votre message</label>
								<input type="text" ng-model="messagePost" />
							</md-input-container>
						</form>
					</div>
					<div flex="10">
						<i class="material-icons" ng-click="sendMessage()">send</i>
					</div>
				</div>


			</md-card-footer>
		</md-card>
	</section>
</div>
<!--
<md-button class="md-raised md-primary" ng-click="showPdf($event)">
  Show PDF
</md-button>
-->
