<div id="rooms" class="main-wrapper">

  <md-card>

    <md-card-header>
      <h1>Liste des chambres</h1>
    </md-card-header>

    <md-card-content>
      <md-list flex>
          <md-list-item class="md-2-line" ng-repeat="room in rooms">
            <img
            ng-if="room.patient"
            src="assets/images/{{room.patient.picture}}"
            alt="{{room.patient.last_name}}-{{room.patient.first_name}}"
            />
            <img
            ng-if="!room.patient"
            src="assets/images/empty-room.jpg"
            alt="{{room.patient.last_name}}-{{room.patient.first_name}}"
            class="half-opacity"
            />
            <div class="md-list-item-text" layout="column">
              <div ng-if="room.patient" class="isavailable no"></div>
              <div ng-if="!room.patient" class="isavailable yes"></div>
              <h3>Chambre N°{{ room.number }}</h3>
              <p>{{ room.patient.first_name }} {{ room.patient.last_name | uppercase }}</p>
            </div>
          </md-list-item>
      </md-list>
    </md-card-content>

  </md-card>

</div>