<div id="rooms">
    <md-list flex>
        <md-list-item class="md-2-line" ng-repeat="room in rooms">
          <img
          ng-if="room.patient"
          src="http://placehold.it/80x80"
          class="md-avatar"
          alt="{{room.patient.last_name}}-{{room.patient.first_name}}"
          />
          <img
          ng-if="!room.patient"
          src="assets/images/icon-bed.png"
          class="md-avatar"
          alt="{{room.patient.last_name}}-{{room.patient.first_name}}"
          />
          <div class="md-list-item-text" layout="column">
            <h3>{{ room.name }}</h3>
            <p>{{ room.patient.last_name | uppercase }} {{ room.patient.first_name }}</p>
          </div>
        </md-list-item>
    </md-list>

          <md-fab-speed-dial md-direction="right">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-primary">
          <md-icon class="material-icons step">menu</md-icon>
        </md-button>
      </md-fab-trigger>
        <md-fab-actions>
          <md-button aria-label="comment" class="md-fab md-raised md-mini">
            <md-icon class="material-icons step">add</md-icon>
          </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>

</div>
